# Don't commit any generated documentation.
doc/*

# Ignore the htaccess file. Users can create their own.
src/.htaccess

# Don't include build output
build/*

# Don't commit any hidden files that aren't git-specific.
.*
!.gitignore
!.gitmodules

